<h1>Login</h1>

<form action="/api/sessions/login" method="POST">
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Ingresar</button>
</form>

<a href="/api/sessions/github">
    <button type="button">Ingresar con GitHub</button>
</a>

<a href="/register">Crear cuenta</a>
