<h1>Registro</h1>

<form action="/api/sessions/register" method="POST">
    <input name="first_name" placeholder="Nombre" required>
    <input name="last_name" placeholder="Apellido" required>
    <input name="email" type="email" placeholder="Email" required>
    <input name="password" type="password" placeholder="Password" required>
    <input name="age" type="number" placeholder="Edad" required>
    <input name="cart" placeholder="Cart ID" required>
    <button type="submit">Registrarme</button>
</form>

<a href="/login">Ya tengo cuenta</a>
